{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="id">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <td><a href="/members/{{id}}">{{id}}</a></td>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
<a href="/signup">회원가입</a>
{{>layouts/footer}}