{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <!-- MemberController에 존재하는 Model의 객체를 가져옴  -->
    {{#memberEntityList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/memberEntityList}}
</table>
<a href="/signup">회원가입</a>
{{>layouts/footer}}