{{>layouts/header}}

{{#member}}
    <form class="container" action="/members/update" method="post">
        <input name="id" type="hidden" value="{{member.id}}">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" name="email" value={{member.email}}>
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호</label>
            <input type="password" class="form-control" rows="3" name="password" value={{member.password}}>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/members/{{member.id}}">Back</a>
    </form>
{{/member}}

{{>layouts/footer}}